
<head>

</head>
<body bgcolor="red">

<h1 align="center" style="color:blue"> {{obj.name}}</h1><br>
<center><img src="{{obj.img2.url}}" style="width:400px;height:300px;"></center>
<img src="{{obj.img3.url}}" style="width:350px;height:300px;" align="left">
<img src="{{obj.img4.url}}" style="width:350px;height:440px;" align="right">
<center><img src="{{obj.img5.url}}" style="width:250px;height:300px;"></center>
<img src="{{obj.img6.url}}" style="width:250px;height:300px;" align="right">
<center><img src="{{obj.img7.url}}" style="width:250px;height:300px;"></center><br>
<!--<img src="{{obj.img2.url}}" style="width:250px;height:300px;"><br>-->





<h2>{{obj.desc}}<br>
    $.{{obj.price}}
</h2></body>